.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.293),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 1)
    ),
    url("./bg.png"); /* Replace with the correct relative path */
  height: 800px;
  margin-top: 40px;
  animation: animation 100s linear infinite;
}

@keyframes animation {
  0% {
    background-position: 100% 40%;
    background-size: 300%;
  }
  50% {
    background-position: 0% 40%;
    background-size: 300%;
  }
  100% {
    background-position: 100% 40%;
    background-size: 300%;
  }
}
